<div class="simple-calendar">
  <div class="calendar-heading">
    <span class="calendar-title">
      Chosen Day
    </span>
    <span>&nbsp;&nbsp;</span>
    <div class="links">
      <%= link_to calendar.url_for_previous_view, class: "previous" do %>
        <i class="far fa-caret-square-left"></i>
      <% end %>
      <%= link_to calendar.url_for_next_view, class: "next" do %>
        <i class="far fa-caret-square-right"></i>
      <% end %>    
    </div>
  </div>
<!--
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view %>
    <span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %>
  </div>
-->
  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %> <%= day.to_s %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <%= content_tag :tr, class: calendar.tr_classes_for(week) do %>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <ul class="meetings">
                <% @day_calendar_meetings.each do |meeting| %>
                <li>
                  <i class="far fa-calendar-alt"></i>

                  <div class="meeting-title">
                    <% if meeting.title.present? %>
                      <%= meeting.title %>
                    <% else %>
                      Untitled
                    <% end %>
                  </div>

                  <div class="meeting-category">
                    <%# if meeting.category.present? %>
                      <%# category %>
                    <%# else %>
                      <%# no category %>
                    <%# end %>
                  </div>

                  <div class="time-block">
                    <span class="start-time">
                      <%= meeting.start_time.strftime("%l:%m %P") %>                    
                    </span>
                    &ndash;
                    <span class="end-time">
                      <% if meeting.end_time.present? %>
                        <% meeting_end_time = meeting.end_time.strftime("%l:%m %P") %>
                      <% else %>
                        <% meeting_end_time = "open"  %>
                      <% end %>
                      <%= meeting_end_time %>                    
                    </span>
                  </div>
                </li>
                <% end %>
              </ul>
 
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
