<% if current_user %>
  <div class='container'>
    <div class='row'>
      <div class='col'>
        <h3>Your bookings:</h3>
        <% if current_user.bookings.any? %>
          <% current_user.bookings.sort_by{ |booking| booking.time }.each do |booking| %>
            <% if booking[:time]> (DateTime.now - 5.hours) %>
              <ul>
                <li>
                  <%= booking[:time].beginning_of_hour.to_formatted_s(:short) %>
                </li>
                <%= link_to 'Unbook' , meeting_room_delete_booking_path(meeting_room_id: booking.bookable, time:
                  booking.time.to_formatted_s(:short)) %>
              </ul>
              <% end %>
                <% end %>
                  <% else %>
                    <p>You don't have any bookings yet.</p>
                    <% end %>
      </div>
      <div class='col'>
        <h3>You may:</h3>
        <ul>
          <li>only book two weeks in advance</li>
          <li>only have two time slots booked</li>
          <li>not smoke in the meeting room</li>
          <li>not leave the meeting room dirty</li>
        </ul>
      </div>
      <div class='col'>
        <%= image_tag('unicorn.png', align: 'middle' , height: 170, class: 'image' ) %>
      </div>
    </div>
  </div>
  <% @meeting_rooms.each do |room| %>
    <%= month_calendar events: room.schedule.next_occurrences(30) do |date, slots| %>
      <%= date.day %>

        <% slots.each do |slot| %>
          <div data-date="<%= slot.to_formatted_s(:short) %>">
            <% if room.check_availability time: slot, amount: 1 %>
              <%= link_to slot.strftime('%H:%M'), meeting_room_create_booking_path(room, time:
                slot.beginning_of_hour.to_formatted_s(:short)) %>
                <% else %>
                  <div id='booked'>
                    <%= slot.strftime('%H:%M') %>
                  </div>
                  <% end %>
          </div>
          <% end %>
            <% end %>
              <% end %>
                <% else %>
                  <h1>It's Meeting Time! </h1>
                  <h2>Welcome to MeetingTime for Unicorn-Apartments</h2>
                  <div id='centered'>
                    <p>This is where the cleaning magic happens - book the meeting room online and save precious dream
                      time!
                      <br> If you don't have an account, you can sign up with your email - and soon enough your clothes
                      will
                      smell of fresh rainbows.
                      <br>Having problems with the site? Email our system admin at unicorn_boss@rainbows.now
                    </p>
                  </div>
                  <%= image_tag('unicorn.png', align: 'middle' , height: 300, class: 'image' ) %>
                    <% end %>
<%#  example calendar with categories <img src="https://p248.p4.n0.cdn.getcloudapp.com/items/bLugNLXw/70614568-552f-4654-b34c-ef53127b8f17.png?v=5bcafcef8e0a95ecf5a87c796d53a20b"
alt="bookings at a glance" style="width: 300px;"> %>
