<div class="grid-bookings-index">
    <div class="heading">
        <span class="month-year">
            <%# Heading here %>
        </span>



    </div>
    <div class="calendar">
                <tab_panel inline-template>
                <div id="tab-panels">
                    <div class="container">
                        <div class="calhead" style="display:flex;">
                        </div>
                      <div class="tab-content py-3" id="myTabContent">
                        <div
                          class="tab-pane fade"
                          :class="{ 'active show': isActive('home') }"
                          id="home"
                        >
                            <% @meeting_rooms.each do |room| %>
                                <%= week_calendar(partial: '/backstage/bookings/week/week_calendar_bookings') do |date| %>                                
                                    <%= date.day %>
                                <% end %>

                            <% end %>
                        </div>
                        <div
                          class="tab-pane fade"
                          :class="{ 'active show': isActive('month') }"
                          id="month"
                        >
                            <% @meeting_rooms.each do |room| %>
                            <%= month_calendar(partial: '/backstage/bookings/month/calendar') do |date, slots| %>
                                <%#= date.day %>
                                <%= link_to date.day, backstage_bookings_path(:start_date=> date) %>

                                <div class="booking-slots">
                                <% slots.each do |slot| %>
                                    <%# not available==booked %>
                                    <div data-date="<%= slot.to_formatted_s(:short) %>">
                                    <% if !room.check_availability time: slot, amount: 1 %>
                                        <div class='booked-spot'>
                                        </div>
                                    <% end %>
                                    </div>
                                <% end %>
                                </div>

                            <% end %>
                            <% end %>
                        </div>
                        <div
                          class="tab-pane fade"
                          :class="{ 'active show': isActive('year') }"
                          id="year"
                        >
                            <%= render "/backstage/bookings/year/upcoming_months" %>

                        </div>
                      </div>
                    </div>
                  </div>
                
            </tab_panel>

        <img src="/images/sketch/calendar-month.png" alt="cal-navigation" style="width: 90%">

    </div>

</div>

<% content_for :right do %>
    <%= render "minical" %>
        <img src="/images/sketch/calendar-next-meeting.png" alt="bookings next meeting" style="width: 300px;">
        <img src="/images/sketch/calendar-categories.png" alt="booking categories" style="width: 300px;">
        <% end %>