<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/backstage/head' %>
  </head>

<body class="<%= controller_name %> <%= action_name %>">    <%= render 'shared/backstage/navbar' %>
    <%= render 'shared/backstage/notices' %>

    <div class="container">
      <span>lorem</span>
      <%= yield %>
    </div>

    <%= render 'shared/backstage/footer' %>
  </body>
</html>
