<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/frontdoor/head' %>
  </head>

<body class="<%= controller_name %> <%= action_name %>">    <%= render 'shared/navbar' %>
    <%= render 'shared/frontdoor/notices' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'shared/frontdoor/footer' %>
  </body>
</html>
